DATABASE_URL="postgresql://postgres.username:[passsword]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.username:passsword@db.bvgcrhbhwymisxptfllm.supabase.co:5432/postgres"

NODE_ENV=development
PORT=8000


SUPABASE_URL=https://
SUPABASE_SERVICE_ROLE_KEY=eyyxxxxx


RESEND_API_KEY=re_xxxxxxxxxxxxx
RESEND_FROM_EMAIL=noreply@finovian.com


INNGEST_DEV=true
INNGEST_BASE_URL=http://localhost:8288


INNGEST_EVENT_KEY=zFCSxxxxxxxxxxxxxxxxxxxxxxxxxxx
INNGEST_SIGNING_KEY=signkey-prod-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


